{% extends 'project_base.html' %}
{% load static %}

{% block title %}{{ store_content.content.title }}{% endblock %}

{% block content %}
<h2>{{ store_content.content.title }}</h2>
<p><strong>Store:</strong> {{ store_content.store.name }}</p>
<p><strong>Price:</strong> ${{ store_content.price }}</p>
<p><strong>Stock:</strong> {{ store_content.stock }}</p>

<form method="post" action="{% url 'add_to_cart' store_content_id=store_content.id %}">
    {% csrf_token %}
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="1" max="{{ store_content.stock }}" value="{{ existing_quantity }}" required>
    <div class="container mt-5">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-shopping-cart"></i> Add to Cart
        </button>
    </div>
</form>
{% endblock %}