{% extends 'project_base.html' %}
{% load static %}

{% block content %}
<h2>Search Book in Store</h2>
<form method="get">
  <input type="text" name="q" placeholder="Book title" value="{{ request.GET.q }}">
  <button type="submit">Search</button>
</form>
<ul>
  {% for item in results %}
    <li>
      {{ item.content.title }} - in {{ item.store.name }} | Stock: {{ item.stock }} | Price: ₹{{ item.price }}
    </li>
  {% empty %}
    <li>No store content found.</li>
  {% endfor %}
</ul>
{% endblock %}
